$navbar-default-bg: #111;

$col-dark: #111;
$col-light: #FFF;
$col-accent: #4169E1;

@import "bootstrap-sprockets";
@import "bootstrap";

*:not(.img-circle) {
	border-radius: 0px !important;
}

.badge {
	background-color: #DDD;
	border: 1px solid #FFF;
}

.btn {
	font-weight: 300;
}

.btn-accent {
	background-color: $col-accent;
	color: $col-light !important;
}

.btn-accent:active, .btn-accent:focus {
	background-color: darken($col-accent, 5%) !important;
}

.btn-accent:hover {
	background-color: lighten($col-accent, 5%);
}

.btn-danger {
	color: $col-light !important;
}

.btn-info {
	color: $col-light !important;
}

.center {
	text-align: center;
}

.colormatch {
	color: $col-accent;
}

.chef_info {
	margin-top: 10px;
}

.chef-title {
  color: $col-accent;
  font-size: 1.25em;
	font-weight: 400;
}

.description {
	margin-top: 0;
}

.footer-right {
	float: right;
}

.img-circle {
	border-radius: 100%;
}

.jumbotron {
	background-image: asset-url('cover_image.png');
	background-position: 0px -50px;
	background-size: cover;
	border: 1px solid #BBB;
}

.jumbotron .btn {
	box-shadow: 1px 1px 1px $col-dark;
}

.jumbotron h1, .jumbotron h2 {
	color: $col-light;
	font-weight: 300;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	text-shadow: 1px 1px 1px $col-dark;
}

.listing {
  list-style: none;
  padding-left: 0;
}

#logo {
	color: $col-light;
	float: left;
	font-size: 1.7em;
	font-weight: bold;
	letter-spacing: -1px;
	text-transform: uppercase;
}

#logo:hover {
	color: $col-light;
	text-decoration: none;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: $col-light;
  }
}

.well a {
	color: $col-accent;
}


.input_checkbox input {
	width: auto !important;
}